<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/IdsLogs" />
      </logger>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="qyprdoHmxWDwGIqsrRm0U4DMvPDO7bBeMIdqNyKkgsh4Tidj" />
    <add key="AccessTokenSecret" value="SivTVrzbJ7CRGTcSPvU5AsZm4NxAYkekdRXFzJ10" />
    <add key="ConsumerKey" value="qyprdS8MgcoCH1LWkY4ZFxAvWn24SI" />
    <add key="ConsumerSecret" value="fPkxKQxFvawNlmRqR8kksGLllZ77bqTQ46XNfYUM" />
    <add key="RealmID" value="123145754607852" />
  </appSettings>
</configuration>