<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <!--<baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/v3/"/>-->
      <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://quickbooks.api.intuit.com/"/>
      </service>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="qyprdlietjZkguZyvHmAJrSA0EuP473tjW9JREao0OTsuGIu" />
    <add key="AccessTokenSecret" value="3Bu0rpVLMnMMJmbl5qKSpc5h23x7X2Jy9fdPijPq" />
    <add key="ConsumerKey" value="qyprd1NN1kHiN9QXEMlz0fLLvMgEKi" />
    <add key="ConsumerSecret" value="vBn6g62fNX3t952i5NDvholn3zkwg6nPKmdS6LZU" />
    <add key="RealmID" value="1239389855" />
  </appSettings>
</configuration>